.parallax {
    /* The image used */
    background-image: url("../assets/images/grass.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent_gradient {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18%;

    &.--top {
        top: 0;
        background: linear-gradient(0deg, transparent 0, black 100%);
    }

    &.--bottom {
        bottom: 0;
        background: linear-gradient(180deg, transparent 0, black 100%);
    }
}
