<main>
    <section class="landing bg-black text-white">
        <!-- Introduce page -->
        <div class="h-screen flex items-center justify-center">
            <div class="flex-1">
                <div class="h-screen w-auto inset-0">
                    <img
                        class="h-full w-full rounded-xl object-cover"
                        src="../assets/images/OAI.JPG"
                        alt="oai"
                    />
                </div>
            </div>

            <div class="flex-1">
                <spline-viewer
                    url="https://prod.spline.design/ilwyyJ1pGYOk0v9V/scene.splinecode"
                    events-target="global"
                ></spline-viewer>
            </div>

            <div class="flex-1 text-lg">
                <div>
                    <div class="text-sm">Hello,</div>
                    <strong class="text-4xl">
                        I'm
                        <span class="text-red-500">Phung Gia Oai</span>
                    </strong>
                    <div class="text-2xl">Bosch Front-End Web Developer</div>
                    <article class="opacity-75 py-6">
                        I am passionate about becoming a Front-End Developer
                        because it allows me to combine creativity and technical
                        expertise to build engaging, user-friendly web
                        experiences. I am excited to continuously learn and grow
                        in this field to create impactful, visually appealing
                        websites.
                    </article>
                </div>

                <div class="text-2xl">Software Skills</div>
                <div class="px-8 py-8 flex flex-col gap-4">
                    <div
                        class="flex w-full"
                        matTooltip="Git confident 95%. Have experiences with Sourcetree"
                    >
                        <div class="inset-0 w-12">
                            <img
                                class="w-12 h-6"
                                src="assets/images/git.png"
                                alt="git"
                            />
                        </div>
                        <div class="flex-1">
                            <div>GIT</div>
                            <mat-progress-bar
                                value="95"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div class="flex w-full" matTooltip="HTML confident 90%">
                        <div class="inset-0 w-12">
                            <img
                                class="w-6 h-6 m-auto"
                                src="assets/images/html.png"
                                alt="html"
                            />
                        </div>
                        <div class="flex-1">
                            <div>HTML</div>
                            <mat-progress-bar
                                value="90"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div
                        class="flex w-full"
                        matTooltip="CSS confident 90%. Currently working with SASS, SCSS"
                    >
                        <div class="inset-0 w-12">
                            <img
                                class="w-5 h-5 m-auto"
                                src="assets/images/css.png"
                                alt="css"
                            />
                        </div>
                        <div class="flex-1">
                            <div>CSS</div>
                            <mat-progress-bar
                                value="80"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div
                        class="flex w-full"
                        matTooltip="JavaScript confident 70%"
                    >
                        <div class="inset-0 w-12">
                            <img
                                class="w-6 h-6 m-auto"
                                src="assets/images/java-script.png"
                                alt="java-script"
                            />
                        </div>
                        <div class="flex-1">
                            <div>JavaScript</div>
                            <mat-progress-bar
                                value="70"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div
                        class="flex w-full"
                        matTooltip="TypeScript confident 70%"
                    >
                        <div class="inset-0 w-12">
                            <img
                                class="w-8 h-6 m-auto"
                                src="assets/images/type-script.png"
                                alt="type-script"
                            />
                        </div>
                        <div class="flex-1">
                            <div>TypeScript</div>
                            <mat-progress-bar
                                value="70"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div
                        class="flex w-full"
                        matTooltip="Angular+ confident 90%, start from Angular 5"
                    >
                        <div class="inset-0 w-12">
                            <img
                                class="w-6 h-6 m-auto"
                                src="assets/images/angular.png"
                                alt="Angular"
                            />
                        </div>
                        <div class="flex-1">
                            <div>Angular +</div>
                            <mat-progress-bar
                                value="90"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div class="flex w-full" matTooltip="C# confident 60%">
                        <div class="inset-0 w-12">
                            <img
                                class="w-6 h-6 m-auto"
                                src="assets/images/c-sharp.png"
                                alt="c-sharp"
                            />
                        </div>
                        <div class="flex-1">
                            <div>C#</div>
                            <mat-progress-bar
                                value="60"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>

                    <div class="flex w-full" matTooltip="Java confident 50%">
                        <div class="inset-0 w-12">
                            <img
                                class="w-6 h-6 m-auto"
                                src="assets/images/java-icon.png"
                                alt="java-icon"
                            />
                        </div>
                        <div class="flex-1">
                            <div>Java</div>
                            <mat-progress-bar
                                value="50"
                                color="warn"
                            ></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- More about me -->
        <div
            id="more-about-me"
            class="relative h-screen bg-purple-100 overflow-hidden"
        >
            <div class="transparent_gradient --top"></div>
            <div class="parallax h-screen"></div>

            <div class="absolute top-1/2 left-1/2 text-white">
                <div id="more-about-me-text" class="opacity-0">
                    <span class="cursor-default underline">
                        More about me
                    </span>
                </div>
            </div>

            <div class="transparent_gradient --bottom"></div>
        </div>

        <!-- Current Project -->
        <div class="min-h-screen px-10">
            <div class="py-12 text-3xl underline font-bold">
                Current Project
            </div>

            <div class="flex py-4 items-center">
                <div class="mr-4 text-lg">
                    I'm a Frontend Developer with over five years of experience,
                    having originally started as a Full Stack Developer before
                    focusing on frontend. Since joining BOSCH in September 2021,
                    I’ve been working on the
                    <strong class="text-red-500 font-bold">ProCon</strong>
                    project—an innovative microservices solution aimed at
                    revolutionizing factory operations. My role involves
                    collaborating on three of the project’s modules, utilizing a
                    tech stack that includes Java, Angular, and Solace, with
                    MySQL and CouchDB databases.
                </div>
                <div class="flex justify-evenly gap-4 items-center">
                    <div class="flex-1">
                        <img
                            class="w-3/5 h-3/4 m-auto"
                            src="assets/images/ProCon-icon.svg"
                            alt="procon-icon"
                        />
                    </div>
                    <div class="flex-1">
                        <img
                            class="w-3/5 h-3/4 m-auto"
                            src="assets/images/java-icon.png"
                            alt="java-icon"
                        />
                    </div>
                    <div class="flex-1">
                        <img
                            class="w-3/5 h-3/4 m-auto"
                            src="assets/images/angular.png"
                            alt="Angular"
                        />
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="block flex-1 inset-0">
                    <img
                        class="w-full h-3/5"
                        src="assets/images/angular-computer.png"
                        alt="angular-computer"
                    />
                </div>
                <div class="flex-1 text-lg">
                    Currently, we’re utilizing
                    <strong class="text-red-500 font-bold">
                        Angular version 15
                    </strong>
                    , integrated with BOSCH Style mapping through Angular
                    Material for a consistent UI experience. My frontend toolkit
                    includes SCSS, BEM, and RxJS, while within Angular, I’m
                    skilled in lazy loading, preloading strategy, guards,
                    FormControl types, pipes, and directives. The application
                    upholds high standards with full test coverage using Jest
                    and Sonar-scanned build pipelines, following strict coding
                    guidelines with ESLint and TSLint.
                </div>
            </div>
        </div>

        <div class="min-h-screen overflow-hidden flex flex-col gap-8">
            <div
                id="gallery-image-text-top"
                class="text-6xl w-full translate-x-[-50%] font-bold"
            >
                PROCON - NX TEAM - WORKSHOP - TEAM BUILDING
            </div>

            <div
                id="gallery-image-1-line"
                class="flex gap-8 translate-x-[100%]"
            >
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/1.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/2.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/3.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/4.JPG"
                        alt="test"
                    />
                </div>
            </div>

            <div
                id="gallery-image-2-line"
                class="flex gap-8 translate-x-[-180%]"
            >
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/5.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/6.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/7.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/8.JPG"
                        alt="test"
                    />
                </div>
            </div>

            <div
                id="gallery-image-3-line"
                class="flex gap-8 translate-x-[100%]"
            >
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/9.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/10.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/11.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/12.JPG"
                        alt="test"
                    />
                </div>
            </div>

            <div
                id="gallery-image-4-line"
                class="flex gap-8 translate-x-[-180%]"
            >
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/13.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/14.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/15.JPG"
                        alt="test"
                    />
                </div>
                <div class="h-[500px] w-[800px] flex-shrink-0">
                    <img
                        class="w-full h-full object-cover"
                        src="../assets/images/procon-images/16.JPG"
                        alt="test"
                    />
                </div>
            </div>

            <div
                id="gallery-image-text-bottom"
                class="text-6xl w-full translate-x-full font-bold"
            >
                PROCON - NX TEAM - WORKSHOP - TEAM BUILDING
            </div>
        </div>

        <div class="min-h-screen px-10">
            <div class="py-12 text-3xl underline font-bold">Play Ground</div>
            <spline-viewer
                url="https://prod.spline.design/mFYV4XZ78vo0QlcX/scene.splinecode"
                background="black"
            ></spline-viewer>
        </div>
    </section>
</main>

<!-- Intro -->
<div
    class="intro bg-black fixed top-0 left-0 w-full h-full flex items-center justify-center"
>
    <div class="intro-text text-blue-100 text-[3rem] font-bold">
        <h1 class="bg-black overflow-hidden">
            <span class="text translate-y-full block">Hello,</span>
        </h1>
        <h1 class="bg-black overflow-hidden">
            <span class="text translate-y-full block">
                I'm <span class="text-red-500">Phung Gia Oai</span>
            </span>
        </h1>
        <h1 class="bg-black overflow-hidden">
            <span class="text translate-y-full block">
                Front-end Web Developer
            </span>
        </h1>
    </div>
</div>

<!-- slider of Intro -->
<div
    class="slider intro bg-blue-200 fixed top-0 left-0 w-full h-full translate-y-full"
></div>
