<div class="flex flex-col">
    <!-- Point 1: Introduction -->
    <div
        #introduction
        class="relative flex flex-col min-h-screen items-center justify-center"
    >
        <div
            class="absolute top-12 text-red-600 text-5xl font-bold tracking-wide"
        >
            BOSCHLER
        </div>
        <div class="w-96 md:hidden">
            <div class="text-sm">Hello,</div>
            <strong class="text-2xl">
                I'm <span class="text-red-600">Phùng Gia Oai</span>
            </strong>
            <div class="text-lg">Front end Web Developer</div>
        </div>
        <div
            class="group h-96 w-96 [perspective:1000px] md:w-3/4 lg:w-3/5 xl:h-[36rem]"
        >
            <div
                class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
            >
                <!-- Front -->
                <div
                    class="absolute inset-0 rounded-xl flex shadow-xl shadow-white/40"
                >
                    <div class="h-full w-full inset-0 rounded-xl">
                        <img
                            class="h-full w-full rounded-xl object-cover"
                            src="assets/images/OAI.JPG"
                            alt="oai-profile"
                        />
                    </div>

                    <div
                        class="hidden md:flex md:flex-col md:justify-center md:px-8"
                    >
                        <div class="text-sm">Hello,</div>
                        <strong class="text-4xl">
                            I'm
                            <span class="text-red-500">Phùng Gia Oai</span>
                        </strong>
                        <div class="text-2xl">Front end Web Developer</div>
                        <article class="opacity-75 py-6">
                            I am passionate about becoming a Front-End Developer
                            because it allows me to combine creativity and
                            technical expertise to build engaging, user-friendly
                            web experiences. I am excited to continuously learn
                            and grow in this field to create impactful, visually
                            appealing websites.
                        </article>
                    </div>
                </div>

                <!-- Back -->
                <div
                    class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-8 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden] md:bg-black"
                >
                    <div class="h-full flex justify-center items-center">
                        <div class="md:hidden">
                            "Knowledge increases by sharing not by saving.”
                        </div>

                        <article class="hidden md:block">
                            "Knowledge grows exponentially when shared, as it
                            invites collaboration, fresh ideas, and broader
                            perspectives. By sharing what we know, we not only
                            help others learn but also deepen our own
                            understanding. Knowledge, when hoarded, remains
                            stagnant and benefits no one. In an interconnected
                            world, passing on information creates a ripple
                            effect, fostering innovation and collective wisdom.
                            <strong class="text-red-500">
                                Knowledge increases by sharing, not by saving. </strong
                            >"
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation Dots -->
        <div class="fixed bottom-6 md:right-4 md:top-1/2">
            <div
                class="flex justify-center items-center gap-3 relative md:flex-col"
            >
                <span
                    class="h-4 w-4 rounded-full border-2 border-red-600 mx-1"
                    [ngClass]="{
                        'bg-red-600': currentSection === 'introduction',
                    }"
                    (click)="
                        scroll(introduction); currentSection = 'introduction'
                    "
                ></span>
                <span
                    class="h-4 w-4 rounded-full border-2 border-red-600 mx-1"
                    [ngClass]="{
                        'bg-red-600': currentSection === 'about-me',
                    }"
                    (click)="scroll(aboutMe); currentSection = 'about-me'"
                ></span>
                <span
                    class="h-4 w-4 rounded-full border-2 border-red-600 mx-1"
                    [ngClass]="{
                        'bg-red-600': currentSection === 'skill-set',
                    }"
                    (click)="scroll(skillSet); currentSection = 'skill-set'"
                ></span>
            </div>
        </div>
    </div>

    <!-- Point 2: About me -->
    <div #aboutMe class="min-h-screen bg-stone-500">About me</div>

    <!-- Point 3: Skill set -->
    <div #skillSet class="min-h-screen bg-red-700">Skill set</div>
</div>
