:root {
    --BoschSans-Black: 'BoschSans-Black', Arial, sans-serif;
    --BoschSans-BlackItalic: 'BoschSans-BlackItalic', Arial, sans-serif;
    --BoschSans-Bold: 'BoschSans-Bold', Arial, sans-serif;
    --BoschSans-BoldItalic: 'BoschSans-BoldItalic', Arial, sans-serif;
    --BoschSans-Italic: 'BoschSans-Italic', Arial, sans-serif;
    --BoschSans-Light: 'BoschSans-Light', Arial, sans-serif;
    --BoschSans-LightItalic: 'BoschSans-LightItalic', Arial, sans-serif;
    --BoschSans-Medium: 'BoschSans-Medium', Arial, sans-serif;
    --BoschSans-MediumItalic: 'BoschSans-MediumItalic', Arial, sans-serif;
    --BoschSans-Regular: 'BoschSans-Regular', Arial, sans-serif;
    --Bosch-Icon: 'Bosch-Icon-PC';

    --rem: 16;

    --white: #ffffff;
    --black: #000000;
}
