@font-face {
    font-family: 'BoschSans-Black';
    src: local('BoschSans-Black'), url('BoschSans-Black.ttf'), url('BoschSans-Black.woff'), url('BoschSans-Black.woff2');
}
@font-face {
    font-family: 'BoschSans-BlackItalic';
    src: local('BoschSans-BlackItalic'), url('BoschSans-BlackItalic.ttf'), url('BoschSans-BlackItalic.woff'),
        url('BoschSans-BlackItalic.woff2');
}
@font-face {
    font-family: 'BoschSans-Bold';
    src: local('BoschSans-Bold'), url('BoschSans-Bold.ttf'), url('BoschSans-Bold.woff'), url('BoschSans-Bold.woff2');
}
@font-face {
    font-family: 'BoschSans-BoldItalic';
    src: local('BoschSans-BoldItalic'), url('BoschSans-BoldItalic.ttf'), url('BoschSans-BoldItalic.woff'),
        url('BoschSans-BoldItalic.woff2');
}
@font-face {
    font-family: 'BoschSans-Italic';
    src: local('BoschSans-Italic'), url('BoschSans-Italic.ttf'), url('BoschSans-Italic.woff'),
        url('BoschSans-Italic.woff2');
}
@font-face {
    font-family: 'BoschSans-Light';
    src: local('BoschSans-Light'), url('BoschSans-Light.ttf'), url('BoschSans-Light.woff'), url('BoschSans-Light.woff2');
}
@font-face {
    font-family: 'BoschSans-LightItalic';
    src: local('BoschSans-LightItalic'), url('BoschSans-LightItalic.ttf'), url('BoschSans-LightItalic.woff'),
        url('BoschSans-LightItalic.woff2');
}
@font-face {
    font-family: 'BoschSans-Medium';
    src: local('BoschSans-Medium'), url('BoschSans-Medium.ttf'), url('BoschSans-Medium.woff'),
        url('BoschSans-Medium.woff2');
}
@font-face {
    font-family: 'BoschSans-MediumItalic';
    src: local('BoschSans-MediumItalic'), url('BoschSans-MediumItalic.ttf'), url('BoschSans-MediumItalic.woff'),
        url('BoschSans-MediumItalic.woff2');
}
@font-face {
    font-family: 'BoschSans-Regular';
    src: local('BoschSans-Regular'), url('BoschSans-Regular.ttf'), url('BoschSans-Regular.woff'),
        url('BoschSans-Regular.woff2');
}
